---
common-css: "/assets/css/Theme.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Repositories</title>
</head>
<body>
<h1>Laggrif's page</h1>

<p>Welcome to my website where you can find links to my main projects and apps.</p>
<p>Note that I am not a professional developer and everything on this website is "use at your own risk".
    Any constructive remark is welcome, and I would love to see you upgrade my projects (just don't forget to put some sort of credits).</p>


<h2>My repositories</h2>

<ul>
    <li><a href="https://github.com/Laggrif/ModuloCalculatorApp">Modulo Calculator App</a> </li>
    <li><a href="https://github.com/Laggrif/Pac-Man_java">Pac-Man</a> </li>
    <li><a href="https://github.com/Laggrif/JaVelo_Git">Javelo</a> </li>
    <li><a href="https://github.com/Laggrif/Discord-Bot">Discord bot</a> </li>
    <li><a href="https://github.com/Laggrif/Laggrif.github.io">This website's GitHub repo</a> </li>
</ul>
<a href="https://github.com/Laggrif">My GitHub profile</a>
</body>
</html>